.item-a {
    grid-area: header;
    background: red;
}

.item-b {
    grid-area: main;
    background: yellow;
}

.item-c {
    grid-area: sidebar;
    background: blue;
}

.item-d {
    grid-area: footer;
    background: orange;
}

.container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}